<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Your one-stop destination for all online tools and utilities.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="index.html" class="text-white">Home</a></li>
                    <li><a href="#image-tools" class="text-white">Image Tools</a></li>
                    <li><a href="#seo-tools" class="text-white">SEO Tools</a></li>
                    <li><a href="#text-tools" class="text-white">Text Tools</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Email: support@multitools.com</li>
                    <li>Phone: +1 (123) 456-7890</li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="text-center">
            <p class="mb-0">&copy; 2024 Multi-Tools. All rights reserved.</p>
        </div>
    </div>
</footer> 